body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:#f2f2f2; 
}

header{
  display: table; 
  width: 100%;
  background-color:#212121;
}

.nav-wrapper{
  background-color:#414a4c;
}

.iconBlocks a{
  font-family: 'Roboto Slab', serif;
}

.brand-logo{
    margin-left:5px;
    font-family: 'Alegreya SC', serif;
}

#mobile-demo{
  background-color:#596669;
}

.searchMobile{
  width: 100%;
}

#search{
  height:56px;
}

/*---------search------------*/
.search{ 
  position: relative;
  top:10px; 
  height:64px; 
  width: 300px;
}
.magnifying-glass {
  position: relative;
  transform: translateX(40%);
  transition: transform 500ms;
}
.search.active .magnifying-glass {
  transform: translateX(-7%);
}
.magnifying-glass-path {
  fill:none;
  stroke-dasharray: 210 808;
  stroke-linecap:round;
  stroke-width:6;
  stroke:white;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}
.search.active .magnifying-glass-path {
  stroke-dasharray: 580 808;
  stroke-dashoffset: -224px;
}
.x {
  fill:none;
  stroke-dasharray: 56 92;
  stroke-dashoffset: -92px;
  stroke-linecap:round;
  stroke-width:6;
  stroke:white;
  transition: stroke-dashoffset 500ms;
  visibility: hidden;
}
.search.active .x {
  visibility: visible;
}
.search.searching .x {
  stroke-dashoffset: 0;
}
.input {
  border: 0;
  font-size: 1.2em;
  left: 20px;
  outline: 0 !important;
  position: absolute;
  top: 4px;
}
.overlay {
  background: rgba(0,0,0,0);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: background 300ms;
}
.overlay-1 {
  height: 64px;
  left: 110px;
  top: -10px;
  width: 64px;
}
.overlay-2 {
  height: 38px;
  left: 240px;
  top: 0px;
  width: 38px;
}
.search.active .overlay-1 {
  visibility: hidden;
}
.search:not(.active) .overlay-2,
.search:not(.searching) .overlay-2 {
  visibility: hidden;
}
/*---------search------------*/

/*dropdown start*/

.nav-content{
  font-family: 'Roboto Slab', serif;
}

#hovDropMenu:hover{
  background: rgba(0,0,0,.1);
}

#hovDropMenu a:hover{
  background: rgba(0,0,0,.1);
  color:white;
}

.hovDropMenu:hover{
  background: rgba(0,0,0,.1);
}

.hovDropMenu a:hover{
  background: rgba(0,0,0,.1);
  color:white;
}


.right{
  float:right;
}
.header {
 text-align:center; 
}
.header a { 
  padding: 30px 0 0;
  display: block;
  font-size: 48px;
  text-decoration: none;
}
 .header p { 
  margin: 10px 0 40px 0; 
  font-size: 18px; 
}
 .container {
  max-width: 100%; 
}
 @media only screen and (max-width : 1000px;) {
  .stellarnav > ul > li > a {
   padding: 20px 23px; }
}

/*dropdown stop*/

.bx-wrapper{
  margin-top: 1px;
}



.content-block{
  width:100%;
  display: table;
  background-color: black;
  margin-top: -58px;
}
.content{
  width:370px;
  height:300px;
  float:left;
  margin-left:10%;
  margin-top: 15px;
  opacity: 1;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:370px;
  height:295px;
}
@media (min-width: 1100px) and (max-width: 1366px) {
  .content{
  width:250px;
  height:225px;
  float:left;
  margin-top: 25px;
  opacity: 1;
  margin-left: 10%;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:250px;
  height:215px;
}
}
@media (min-width: 900px) and (max-width: 1099px) {
  .content{
  width:230px;
  height:225px;
  float:left;
  margin-top: 25px;
  opacity: 1;
  margin-left: 7%;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:230px;
  height:215px;
}
}
@media (min-width: 700px) and (max-width: 899px) {
  .content{
  width:180px;
  height:175px;
  float:left;
  margin-top: 15px;
  opacity: 1;
  margin-left: 7%;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:180px;
  height:165px;
}
}
@media (min-width: 400px) and (max-width: 699px) {
  .content{
  width:300px;
  height:255px;
  float:left;
  margin-top: 25px;
  opacity: 1;
  margin-left: 25%;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:300px;
  height:245px;
}
}
@media (min-width: 0px) and (max-width: 399px) {
  .content{
  width:270px;
  height:255px;
  float:left;
  margin-top: 25px;
  opacity: 1;
}
.content:hover{
  opacity: 0.6;
}
.content img{
  width:270px;
  height:245px;
}
}

.sell-books{
  width:100%;
  display: table;
  border-bottom: 1px solid black;
}
.sell-books h1{
  text-align: center;
  font-family: 'Alegreya', serif;
}
.books-sell{
  width:250px;
  height: 400px;
  float:left;
  margin-left: 9%;
  margin-top:15px;
}
.books-sell p{
  font-family: 'Roboto Slab', serif;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:250px;
  height:300px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
@media (min-width: 1100px) and (max-width: 1366px) {
.books-sell{
  width:220px;
  height: 350px;
  float:left;
  margin-left: 5%;
  margin-top:15px;
  font-size: 14px;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:220px;
  height:250px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
}
@media (min-width: 900px) and (max-width: 1099px) {
.books-sell{
  width:180px;
  height: 350px;
  float:left;
  margin-left: 4%;
  margin-top:15px;
  font-size: 14px;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:180px;
  height:250px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
}
@media (min-width: 700px) and (max-width: 899px) {
.books-sell{
  width:150px;
  height: 350px;
  float:left;
  margin-left: 4%;
  margin-top:15px;
  font-size: 12px;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:150px;
  height:250px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
}
@media (min-width: 400px) and (max-width: 799px) {
.books-sell{
  width:250px;
  height: 350px;
  float:left;
  margin-left: 5%;
  margin-top:15px;
  font-size: 14px;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:250px;
  height:250px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
}
@media (min-width: 0px) and (max-width: 399px) {
.books-sell{
  width:270px;
  height: 300px;
  float:left;
  margin-top:15px;
  font-size: 10px;
  margin-left: 10%;
}
.books-sell img:hover{
  opacity: 0.6;
}
.books-sell img{
  width:270px;
  height:250px;
  opacity: 1;
}
.books-sell button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.books-sell button:hover{
  background-color: orange;
}
}

.spring-sell-out{
  width:100%;
  display: table;
  border-bottom: 1px solid black;
}
.spring-sell-out h1{
  text-align: center;
  font-family: 'Alegreya', serif;
}
.sell-out{
  width:250px;
  height: 400px;
  float:left;
  margin-left: 9%;
  margin-top:15px;
}
.sell-out p{
  font-family: 'Roboto Slab', serif;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:250px;
  height:300px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
@media (min-width: 1100px) and (max-width: 1366px) {
.sell-out{
  width:220px;
  height: 350px;
  float:left;
  margin-left: 5%;
  margin-top:15px;
  font-size: 14px;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:220px;
  height:250px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
}
@media (min-width: 900px) and (max-width: 1099px) {
.sell-out{
  width:180px;
  height: 350px;
  float:left;
  margin-left: 4%;
  margin-top:15px;
  font-size: 13px;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:180px;
  height:250px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
}
@media (min-width: 700px) and (max-width: 899px) {
.sell-out{
  width:150px;
  height: 350px;
  float:left;
  margin-left: 4%;
  margin-top:15px;
  font-size: 12px;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:150px;
  height:250px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
}
@media (min-width: 400px) and (max-width: 799px) {
.sell-out{
  width:250px;
  height: 350px;
  float:left;
  margin-left: 5%;
  margin-top:15px;
  font-size: 14px;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:250px;
  height:250px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
}
@media (min-width: 0px) and (max-width: 399px) {
.sell-out{
  width:270px;
  height: 300px;
  float:left;
  margin-top:15px;
  font-size: 10px;
  margin-left: 10%;
}
.sell-out img:hover{
  opacity: 0.6;
}
.sell-out img{
  width:270px;
  height:250px;
  opacity: 1;
}
.sell-out button{
  float:right;
  margin-top: -15px;
  font-family: 'Roboto Slab', serif;
  border:none;
  background-color: gray;
}
.sell-out button:hover{
  background-color: orange;
}
}
.map{
  width:100%;
}

.page-footer{
  font-family: 'Roboto Slab', serif; 
  background-color:#212121;
}